<div class="container">
   <div class="row footer_area">
        <div class="col-sm-6 footer-question">
           <h3>Do you have a<br>question?</h3>
        </div>

        <div class="col-sm-6">
            <form class="footer-form">
               <input type="email" placeholder="Your email address" class="footer-sub-email"><br>
               <button class="footer-btn-sub">subscribe</button>   
            </form>   
        </div>
   </div>

</div>

<!--main footer-->
<section class="footer-background">
  <div class="container">
    <div class="row">

        <div class="col-sm-3 footer-ft-bx">
        <h3 class="footer-ft-hd">Our Mission</h3>
        <p>So seed seed green that winged cattle in. Gathering thing made fly you're no divided deep moved us lan Gathering thing us land years living.</p>
        <p>So seed seed green that winged cattle in. Gathering thing made fly you're no divided deep moved</p>
        </div>

        <div class="col-sm-3 shrt-codes">
          <div class="shrt-codes-sub pull-right">
            <h4>Quick Links</h4>
            <ul>
              <li>Home</li>
              <li>About</li>
              <li>Causes</li>
              <li>Event</li>
              <li>News</li>
              <li>Contact</li>
            </ul>
          </div>
        </div>

        <div class="col-sm-3 gallery-footer">
           <h4>Gallery</h4>
           
           <div class="gallery-footer-align">

              <div class="sub-gallery-align">
                <div class="gallery-1">
                 <img src="../assets/img/gallery/g1.jpg" alt="g1" class="img-responsive">           
                </div>
                
                <div class="gallery-2">
                 <img src="../assets/img/gallery/g2.jpg" alt="g2" class="img-responsive">           
                </div>   
               </div>
           
               <div class="sub-gallery-align">
                 <div class="gallery-1">
                   <img src="../assets/img/gallery/g3.jpg" alt="g3" class="img-responsive">           
                 </div>
                 <div class="gallery-2">
                    <img src="../assets/img/gallery/g4.jpg" alt="g3" class="img-responsive">           
                 </div>   
               </div>
                      
               <div class="sub-gallery-align">
                 <div class="gallery-1">
                   <img src="../assets/img/gallery/g5.jpg" alt="g3" class="img-responsive">           
                 </div>
                 <div class="gallery-2">
                    <img src="../assets/img/gallery/g6.jpg" alt="g3" class="img-responsive">           
                 </div>   
              </div>
            </div>     
        </div>

        <div class="col-sm-3 footer-contact-us">
          <h4>Contact us </h4>

          <ul class="head-office">
            <li><i class="fa fa-map-marker social-icons"></i><span class="footer-icons-hd">Head Office</span></li>
            <li class="head-office-sub-align">123, Main Street, Your City</li>  
          </ul>

          <ul class="phone-office">
            <li><i class="fa fa-phone social-icons"></i><span class="footer-icons-hd">phone Number</span></li>
            <li class="head-office-sub-align">+123 456 7890</li>
            <li class="head-office-sub-align">+123 456 7890</li>  
          </ul>

          <ul class="email-office">
            <li><i class="fa fa-envelope social-icons"></i><span class="footer-icons-hd">Email</span></li>
            <li class="head-office-sub-align">free@infoexample.com</li>
            <li class="head-office-sub-align">www.infoexample.com</li>  
          </ul>

        </div>


    </div>
  
  </div>
</section>
<!--main footer-->

<!--copy rights-->
<div class="copy-rights">
    <p>Copyright ©2019 All rights reserved | This template is made with  by Colorlib</p>
</div>
<!--copy rights-->