<section class="home_banner_area">
  <div class="see-banner-hand">
      <h6 class="bnr-heading">give a hand</h6>
      <h4 class="bnr-heading-sub">to make the better world</h4>
      <p class="bnr-heading-sub-1">That don't lights. Blessed land spirit creature divide our made two itself upon you'll dominion waters man second good you they're divided upon winged were replenish night</p>
      
      <div class="doante-causes-btn">
        <button class="doante-btn">Donate Now</button> 
        <button class="yellow_btn">See Causes</button>  
      </div>
  </div>
</section>

<!--Our Major Causes-->
<div class="majore-causes">

   <div class="our-majore-align">
      <h4 class="majore-causes-cnt">Our Major Causes</h4>
      <p class="majore-causes-cnt-sub">Creepeth called face upon face yielding midst is after moveths</p>
   </div> 
   
    <div class="row">
       
      <div class="col-sm-4">
        <div class="majore-causes-box">
            <h5 class="give-donation">Give Donation</h5>
            <img src="../assets/img/causes/c1.png" alt="c1" class="img">   
            <p class="dontion-cnt">It you're. Was called you're fowl grass lesser land 
              together waters beast darkness earth land whose male all moveth fruitful.</p>   
        </div>  
      </div>     
                     
      <div class="col-sm-4">
        <div class="majore-causes-box">
          <h5 class="give-donation">Give Inspiration</h5>
          <img src="../assets/img/causes/c2.png" alt="c2" class="img">   
          <p class="dontion-cnt">It you're. Was called you're fowl grass lesser land 
            together waters beast darkness earth land whose male all moveth fruitful.</p>   
        </div>
      </div>
                     
      <div class="col-sm-4">
        <div class="majore-causes-box">
          <h5 class="give-donation">Become Bolunteer</h5>
          <img src="../assets/img/causes/c3.png" alt="c3" class="img">   
          <p class="dontion-cnt">It you're. Was called you're fowl grass lesser land 
            together waters beast darkness earth land whose male all moveth fruitful.</p>   
        </div>
      </div>
    
   </div>    

</div>
<!--Our Major Causes-->


<!--Our Major Causes-->
<div class="container">

  <div class="row majore-sub-cnt-align">
    <div class="col-sm-6">
      <img src="../assets/img/about-img.jpg" alt="about-img" class="img-responsive">
    </div>
  
    <div class="col-sm-6 majore-sub-cnt-bk">
      <h3 class="majore-sub-heading">We are nonprofit team and work worldwide</h3>
      <p>Their multiply doesn't behold shall appear living heaven second roo lights. Itself hath thing for won't herb forth gathered good bear fowl kind give fly form winged for reason
         <br><br>
         Land their given the seasons herb lights fowl beast whales it after multiply fifth under to it waters waters created heaven very fill agenc to. Dry creepeth subdue them kind night behold rule stars him grass waters our without
      </p>
      <button class="majore-learn-more">Learn More</button>
    </div>
  </div>

</div>


<!--Our Major Causes-->


<!--featured causes-->
<div class="container">

  <div class="our-majore-align">
    <h4 class="majore-causes-cnt">Featured Causes</h4>
    <p class="majore-causes">Creepeth called face upon face yielding midst is after moveth</p>
  </div> 
   

  <div class="row featured-bottom-align">
 
    <div class="col-sm-4">
      <div class="featured-card">
        <img src="../assets/img/features/fc1.jpg" alt="fc1.jpg" class="img-responsive" />
        <div class="feature-cnt-heading">
          <h3 class="feature-box-sub-hd">Education for every child</h3> 
          <p class="feature-box-cnt">Be tree their face won't appear day waters moved fourth in they're divide don't a you were man face god.</p>       

          <div class="row sub-feature-align">
            
            <div class="col-sm-6 zero">
              <p class="feature-cnt-price">Raised: <i class="fa fa-usd" aria-hidden="true"></i>1533</p>
            </div>
      
            <div class="col-sm-6 zero-right">
              <p class="feature-goal-price">Goal: <i class="fa fa-usd" aria-hidden="true"></i><span>2500</span></p>
            </div>
              
          </div>

          <div class="row sub-feature-align">
            
            <div class="col-sm-6 zero">
              <button class="feature-cnt-price-btn">Donate</button>
            </div>
      
            <div class="col-sm-6 zero-right">
              <p><i class="fa fa-heart-o feature-heart" aria-hidden="true"></i> 90 Donors</p>        
            </div>
              
          </div>
        
        </div>
      </div>
    </div>
 

    <div class="col-sm-4">
      <div class="featured-card">
        <img src="../assets/img/features/fc2.jpg" alt="fc1.jpg" class="img-responsive" />
        <div class="feature-cnt-heading">
          <h3 class="feature-box-sub-hd">Education for every child</h3> 
          <p class="feature-box-cnt">Be tree their face won't appear day waters moved fourth in they're divide don't a you were man face god.</p>       

          <div class="row sub-feature-align">
            
            <div class="col-sm-6 zero">
              <p class="feature-cnt-price">Raised: <i class="fa fa-usd" aria-hidden="true"></i>1533</p>
            </div>
      
            <div class="col-sm-6 zero-right">
              <p class="feature-goal-price">Goal: <i class="fa fa-usd" aria-hidden="true"></i><span>2500</span></p>
            </div>
              
          </div>

          <div class="row sub-feature-align">
            
            <div class="col-sm-6 zero">
              <button class="feature-cnt-price-btn">Donate</button>
            </div>
      
            <div class="col-sm-6 zero-right">
              <p><i class="fa fa-heart-o feature-heart" aria-hidden="true"></i> 90 Donors</p>        
            </div>
              
          </div>
        
        </div>
      </div>
    </div>
 

    <div class="col-sm-4">
      <div class="featured-card">
        <img src="../assets/img/features/fc3.jpg" alt="fc1.jpg" class="img-responsive" />
        <div class="feature-cnt-heading">
          <h3 class="feature-box-sub-hd">Education for every child</h3> 
          <p class="feature-box-cnt">Be tree their face won't appear day waters moved fourth in they're divide don't a you were man face god.</p>       

          <div class="row sub-feature-align">
            
            <div class="col-sm-6 zero">
              <p class="feature-cnt-price">Raised: <i class="fa fa-usd" aria-hidden="true"></i>1533</p>
            </div>
      
            <div class="col-sm-6 zero-right">
              <p class="feature-goal-price">Goal: <i class="fa fa-usd" aria-hidden="true"></i><span>2500</span></p>
            </div>
              
          </div>

          <div class="row sub-feature-align">
            
            <div class="col-sm-6 zero">
              <button class="feature-cnt-price-btn">Donate</button>
            </div>
      
            <div class="col-sm-6 zero-right">
              <p><i class="fa fa-heart-o feature-heart" aria-hidden="true"></i> 90 Donors</p>        
            </div>
              
          </div>
        
        </div>
      </div>
    </div>

  </div>
</div>
<!--featured causes-->

<!--upcoming events-->
  <div class="container upcoming-events-bottom">

    <div class="upcoming-events-main-hd">
      <h4 >Upcoming Events</h4>
      <p>Creepeth called face upon face yielding midst is after moveth</p>
    </div>


    <div class="Upcoming-align-bottom">

    <div class="row counter-ft-align">

      <div class="col-sm-6">
        <div class="upcoming-events">
          
          <div class="col-sm-5">
            <img src="../assets/img/event/e1.jpg" alt="e1" class="img-responsive" />
          </div>  
          
          <div class="col-sm-7 upcoming-events-heading">
            <h3 class="upcoming-events-sub-hd">Working syrian childreen</h3> 
            <p class="feature-box-cnt">Be tree their face won't appear day to waters moved fourth in they're divide don't a you're were man.</p>       
        
            <div class="date-counter-top-align">
              <countdown (reached)="callback($event)" [text]="text" units=" Days | Hours | Minutes | Seconds" end="November 23, 2020" class="countdown-timers" style="margin: 0px 12px;"></countdown>
            </div>  

            <button class="upcoming-event-lm"> Learn More</button>   
          
          </div>
        </div>
      </div>


      <div class="col-sm-6">
        <div class="upcoming-events">
          
          <div class="col-sm-5">
            <img src="../assets/img/event/e2.jpg" alt="e2" class="img-responsive" />
          </div>  
          
          <div class="col-sm-7 upcoming-events-heading">
            <h3 class="upcoming-events-sub-hd">Help and homelesness</h3> 
            <p class="feature-box-cnt">Be tree their face won't appear day to waters moved fourth in they're divide don't a you're were man.</p>       
        
            <div class="date-counter-top-align">
              <countdown (reached)="callback($event)" [text]="text" units=" Days | Hours | Minutes | Seconds" end="November 23, 2020" class="countdown-timers" style="margin: 0px 12px;"></countdown>
            </div>  

            <button class="upcoming-event-lm"> Learn More</button>   
          
          </div>
        </div>
      </div>
    
    </div>


    <div class="row counter-sc-align">

      <div class="col-sm-6">
        <div class="upcoming-events">
          
          <div class="col-sm-5">
            <img src="../assets/img/event/e3.jpg" alt="e3" class="img-responsive" />
          </div>  
          
          <div class="col-sm-7 upcoming-events-heading">
            <h3 class="upcoming-events-sub-hd">Save the clean water</h3> 
            <p class="feature-box-cnt">Be tree their face won't appear day to waters moved fourth in they're divide don't a you're were man.</p>       
        
            <div class="date-counter-top-align">
              <countdown (reached)="callback($event)" [text]="text" units=" Days | Hours | Minutes | Seconds" end="November 23, 2020" class="countdown-timers" style="margin: 0px 12px;"></countdown>
            </div>  

            <button class="upcoming-event-lm"> Learn More</button>   
          
          </div>
        </div>
      </div>


      <div class="col-sm-6">
        <div class="upcoming-events">
          
          <div class="col-sm-5">
            <img src="../assets/img/event/e4.jpg" alt="e4" class="img-responsive" />
          </div>  
          
          <div class="col-sm-7 upcoming-events-heading">
            <h3 class="upcoming-events-sub-hd">Foods for poor childreen</h3> 
            <p class="feature-box-cnt">Be tree their face won't appear day to waters moved fourth in they're divide don't a you're were man.</p>       
        
            <div class="date-counter-top-align">
              <countdown (reached)="callback($event)" [text]="text" units=" Days | Hours | Minutes | Seconds" end="November 23, 2020" class="countdown-timers" style="margin: 0px 12px;"></countdown>
            </div>  

            <button class="upcoming-event-lm"> Learn More</button>   
          
          </div>
        </div>
      </div>

      </div>
    
  </div>

<!--upcoming events-->


<!--Meet Our Voluteer-->
<div class="container">
  <!--Meet Our Voluteer heading-->
  <div class="meet-voluteer-hd">
    <h4>Meet Our Voluteer</h4>
    <p >Creepeth called face upon face yielding midst is after moveth</p>
    
    <div class="row Meet-our-voluteer-align meet-voluteer-bottom">
      
      <div class="col-sm-3">
        <div class="voluteer-align">
         
          <div class="voluteer-sub-img">
            <img src="../assets/img/voluteer/v1.jpg" alt="v1" class="img-responsive">  
            <div class="voluteer-sub-heading">
              <h3>Alea Mirslava</h3>
              <h6>Party Manager</h6>
            </div>
          </div>
          
          <p class="Voluteer-cnt">So seed seed green that winged cattle in kath moved us land years living.</p>

          <div class="row social-media-icons-mov">
            
            <div class="social-media-1">
              <i class="fa fa-facebook-f sm-mov"></i>
            </div>

            <div class="social-media-1">
              <i class="fa fa-twitter sm-mov"></i>  
            </div>

            <div class="social-media-1">
              <i class="fa fa-instagram sm-mov"></i>
            </div>

            <div class="social-media-1">
              <i class="fa fa-envelope sm-mov"></i>
            </div>

          </div>

        </div>
      </div>
      
      <div class="col-sm-3">
        <div class="voluteer-align">
          
          <div class="voluteer-sub-img">
            <img src="../assets/img/voluteer/v2.jpg" alt="v1" class="img-responsive">  
            <div class="voluteer-sub-heading">
              <h3>Alea Mirslava</h3>
              <h6>Party Manager</h6>
            </div>
          </div>
            
          <p class="Voluteer-cnt">So seed seed green that winged cattle in kath moved us land years living.</p>
  
          <div class="row social-media-icons-mov">
              
            <div class="social-media-1">
              <i class="fa fa-facebook-f sm-mov"></i>
            </div>
  
            <div class="social-media-1">
              <i class="fa fa-twitter sm-mov"></i>  
            </div>
  
            <div class="social-media-1">
              <i class="fa fa-instagram sm-mov"></i>
            </div>
  
            <div class="social-media-1">
              <i class="fa fa-envelope sm-mov"></i>
            </div>
  
          </div>
  
        </div>
      </div>

      <div class="col-sm-3">
        
        <div class="voluteer-align">
           
          <div class="voluteer-sub-img">
            <img src="../assets/img/voluteer/v3.jpg" alt="v1" class="img-responsive">  
            <div class="voluteer-sub-heading">
              <h3>Alea Mirslava</h3>
              <h6>Party Manager</h6>
            </div>
          </div>
            
          <p class="Voluteer-cnt">So seed seed green that winged cattle in kath moved us land years living.</p>
  
          <div class="row social-media-icons-mov">
            <div class="social-media-1">
              <i class="fa fa-facebook-f sm-mov"></i>
            </div>
  
            <div class="social-media-1">
              <i class="fa fa-twitter sm-mov"></i>  
            </div>
  
            <div class="social-media-1">
              <i class="fa fa-instagram sm-mov"></i>
            </div>
  
            <div class="social-media-1">
              <i class="fa fa-envelope sm-mov"></i>
            </div>
  
          </div>
  
        </div>
      </div>

      <div class="col-sm-3">
        <div class="voluteer-align">
          <div class="voluteer-sub-img">
            <img src="../assets/img/voluteer/v4.jpg" alt="v1" class="img-responsive">  
            <div class="voluteer-sub-heading">
              <h3>Alea Mirslava</h3>
              <h6>Party Manager</h6>
            </div>
          </div>
              
          <p class="Voluteer-cnt">So seed seed green that winged cattle in kath moved us land years living.</p>
    
          <div class="row social-media-icons-mov">
                
            <div class="social-media-1">
              <i class="fa fa-facebook-f sm-mov"></i>
            </div>
    
            <div class="social-media-1">
              <i class="fa fa-twitter sm-mov"></i>  
            </div>
    
            <div class="social-media-1">
              <i class="fa fa-instagram sm-mov"></i>
            </div>
    
            <div class="social-media-1">
              <i class="fa fa-envelope sm-mov"></i>
            </div>
    
          </div>
    
        </div>
      </div>
    
    </div>
  
  </div>
  <!--Meet Our Voluteer heading-->


</div>
</div>
<!--Meet Our Voluteer-->


<!--Become a volunteers-->
<div class="become-bk">


<h3>Become a volunteers</h3>
<p>So seed seed green that winged cattle in. Gathering thing made fly you're divided deep<br>leave on the medicene moved us land years living.</p>

<button class="join-voluteer">Join With Us</button>  

</div>
<!--Become a volunteers-->


<!--our latest story-->
<div class="container">
  
  <div class="our-majore-align">
    <h4 class="majore-causes-cnt">Our Latest Story</h4>
    <p class="majore-causes">Open lesser winged midst wherein may morning</p>
  </div>
  
  <div class="row our-latest-story-align">

    <div class="col-sm-4">
      <div class="latest-ft-cmpny">
        <img src="../assets/img/story/s1.jpg" alt="s1" class="img-responsive">
        
        <div class="row calender-cmpny">
          <div class="col-sm-5 calendar">
            <i class="fa fa-calendar calendar-story"></i>
            <span class="calendar-cnt">20 Sep, 2018</span>
          </div>
          <div class="col-sm-4 calendar-1">
            <i class="fa fa-suitcase calendar-story"></i>
            <span class="calendar-cnt">Company</span>
          </div>
        </div>

        <h3>Lime recalls electric scooters over battery fire.</h3>

      </div>  
    </div>

    <div class="col-sm-4">
      <div class="latest-ft-cmpny">
        <img src="../assets/img/story/s2.jpg" alt="" class="img-responsive">
        
        <div class="row calender-cmpny">
          <div class="col-sm-5 calendar">
            <i class="fa fa-calendar calendar-story"></i>
            <span class="calendar-cnt">20 Sep, 2018</span>
          </div>
          <div class="col-sm-4 calendar-1">
            <i class="fa fa-suitcase calendar-story"></i>
            <span class="calendar-cnt">Company</span>
          </div>
        </div>
  
        <h3>Apple resorts to promo deals trade to boost</h3>
  
      </div>  
    </div>

    <div class="col-sm-4">
      <div class="latest-ft-cmpny">
        <img src="../assets/img/story/s3.jpg" alt="" class="img-responsive">
          
        <div class="row calender-cmpny">
          <div class="col-sm-5 calendar">
            <i class="fa fa-calendar calendar-story"></i>
            <span class="calendar-cnt">20 Sep, 2018</span>
          </div>
          <div class="col-sm-4 calendar-1">
            <i class="fa fa-suitcase calendar-story"></i>
            <span class="calendar-cnt">Company</span>
          </div>
        </div>
    
        <h3>Lime recalls electric scooters over battery fire.</h3>
    
      </div>  
    </div>
      
      
  </div>

</div>
<!--our latest story-->